body {
  margin-top: 70px;
  background-color: #F0E2E7;
  height: 100%;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacerr {
  height: 40px;
}

.viewPhi {
   align: center;
   justify-content: center;
}
.viewSuma {
   align: center;
   justify-content: center;
}
.viewMult {
   align: center;
   justify-content: center;
}
.titulo {
   align: center;
   justify-content: center;
}
.bajadaPhi {
   align: center;
   justify-content: center;
   align-items: center;
}
.bajadaSuma {
   align: center;
   justify-content: center;
   align-items: center;
}
.bajadaMult {
   align: center;
   justify-content: center;
   align-items: center;
}
.inputNumero {
   align: center;
   justify-content: center;
   align-items: center;

}
